# Arquivos de usuários (NUNCA commitar!)


# Banco de dados
dados.db
*.db

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Arquivos temporários
temp_upload.csv
*.log
convert.py
config.toml

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db